{% load static %}

<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#007bff" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="https://api.fontshare.com/v2/css?f[]=amulya@400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/2f69883659.js" crossorigin="anonymous"></script>
        <title>Crickvision - PunchBiz</title>
        <link rel="stylesheet" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Gantari:400,600,700&display=swap" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    </head>

    <body style="font-family: Gantari;">

        <div class="hero_area bubbly">
            <!-- header section strats -->
            <header class="header_section">
                <div class="container">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" href="">
                            <img src="{% static 'img/logo.png' %}" style="height: 80px; width: fit-content;">

                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa-solid fa-bars fa-xl" style="color: #007bff;"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                                <ul class="navbar-nav  ">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/">Home </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href=""> Documentation </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href=""> Contact </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/logout">Signout<span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <section class=" slider_section ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="formy">
                                <video src="{{ url }}" controls></video>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 offset-lg-1">

                        </div>
                    </div>
                </div>
            </section>
        </div>


        <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.js'%}"></script>
        <script src="{% static 'js/scroll.js'%}"></script>


    </body>

</html>